*{
    margin: 0;
    padding: 0;
    font-family: "ＭＳ Ｐゴシック"; 
    font-weight: bold;
    font-size: medium;
}
body{
    max-width: 400px;
    max-height: 200px;
    background: url("https://i.pinimg.com/originals/d2/40/dd/d240ddbcf97be8749949be6360a02bd9.gif") no-repeat;
}
.banner{
    padding: 20px;
}
.banner, a, img {
    margin-top: 200px;
}
